parser: "babel-eslint"

extends: ["eslint:recommended", "plugin:react/recommended"]

plugins: ["react"]

settings:
  react:
    version: "0.14"

parserOptions:
  ecmaFeatures:
    jsx: true

env:
  browser: true
  jquery: true
  node: true

rules:
  quotes: [1, "single"]
  strict: [0, "global"]
  no-cond-assign: 0
  no-console: [1, {allow: ["warn", "error"]}]
  no-underscore-dangle: 0
  consistent-return: 0
  react/no-is-mounted: 0
  react/no-direct-mutation-state: 0
  react/no-danger: 0
