.container {
  padding-top: 10px;
}

.drillDown {
  margin: 0 auto;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: url('../img/drillDown.png') no-repeat;
}

.drillDown:hover {
  background-color: #ddd;
}

.drillDownMenu {
  position: absolute;
  margin: 0 0 0 -10px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #fff;
}

.drillDownMenuElement {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 2px 7px;
  cursor: pointer;
}

.drillDownMenuElement:hover {
  background: #ddd;
}

.charts-panel {
    margin: 20px 0;
}
.chart {
    height: 200px;
}
