.edit-form .changed {
  background-color: #ffff38;
}
.edit-form .error {
  background-color: #ff8689;
}

.filters-form {
  display: block;
  overflow: hidden;
}

.filters-form input,
.edit-form input,
.filters-form select,
.edit-form select {
  margin: 0;
  width: 100% !important;
}

.action {
  padding: 4px 6px;
}

.padding0 {
  padding: 0;
}

div.panel-footer a.btn {
  margin: 0 10px 0 0;
}
.btn .pull-right {
  margin: 0 0 0 10px;
}