/**
 * Copyright 2015, SoftIndex LLC.
 */

.data-grid {
  color: #000;
  display: table;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}

.data-grid table {
  width: 100%;
  table-layout: fixed;
}

.dgrid-body-wrapper {
  position: relative;
  border-bottom: 1px solid #ddd;
}

.dgrid-scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
  border-bottom: 0;
}

.dgrid-body {
  overflow: hidden;
}

.dgrid-scrollable .dgrid-body {
  width: 100%;
}

.data-grid .dgrid-body tr {
  height: 37px;
}

.data-grid th {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 3px 9px 3px 9px;
  text-align: center;
  background: transparent;
  font-weight: bold;
  color: #2B2A2A;
}

.data-grid td {
  white-space: nowrap;
  padding: 1px 9px 1px 10px;
  border-right: 1px solid #ddd;
  text-overflow: ellipsis;
}

.data-grid .dgrid-cell.dgrid-input-wrapper {
  padding: 0;
}

.data-grid .dgrid-scrollable .dgrid-cell:last-child {
  padding-right: 15px;
}

.data-grid .dgrid-input-wrapper input,
.data-grid .dgrid-input-wrapper select {
  width: 100%;
  height: 37px;
  border: 0;
  margin: 0 auto;
  padding-left: 5px;
}

.data-grid .dgrid-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85) url('./img/loading.gif') no-repeat center;
  z-index: 1;
}

.data-grid th.dgrid-default,
.data-grid th.dgrid-asc,
.data-grid th.dgrid-desc {
  cursor: pointer;
}

.data-grid th.dgrid-asc:before {
  content: '';
  position: relative;
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url('./img/cellTableSortAscending.png') no-repeat 50%;
  left: -5px;
}

.data-grid th.dgrid-desc:before {
  content: '';
  position: relative;
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url('./img/cellTableSortDescending.png') no-repeat 50%;
  left: -5px;
}

.dgrid-totals {
  border-bottom: 1px solid #ddd;
  background-color: #FFF;
  font-weight: bold;
}

.dgrid-totals td:last-child {
  border-right: 1px solid #ddd;
}

.data-grid .dgrid-footer {
  background: transparent;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 5px 0;
}

.data-grid .dgrid-footer > * {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.data-grid .dgrid-footer > a {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-image: url('./img/simplePager.png');
  background-repeat: no-repeat;
}

.data-grid .dgrid-footer > .btn-first-page {
  background-position: 0;
}

.data-grid .dgrid-footer > .btn-prev-page {
  background-position: -18px;
}

.data-grid .dgrid-footer > .btn-next-page {
  background-position: -35px;
}

.data-grid .dgrid-footer > .btn-last-page {
  background-position: -52px;
}

.data-grid .dgrid-footer > .btn-refresh-page {
  background-position: -69px;
}

.data-grid .dgrid-footer input,
.data-grid .dgrid-footer select {
  margin: 0;
}

.data-grid tbody.dgrid-body-table tr:nth-child(odd) {
  background: #fff;
}

.data-grid tbody.dgrid-body-table tr:nth-child(even) {
  background: #f9f9f9;
}

.data-grid tbody.dgrid-body-table tr.others:nth-child(odd) {
  background: #FFFFE1;
}

.data-grid tbody.dgrid-body-table tr.others:nth-child(even) {
  background: #FFFFFF;
}

.data-grid tbody.dgrid-body-table tr.new:nth-child(odd) td {
  background-color: #A9E2FB;
}

.data-grid tbody.dgrid-body-table tr.new:nth-child(even) td {
  background-color: #B4E8FF;
}

.data-grid tbody.dgrid-body-table tr.changed:nth-child(odd) td {
  background-color: #FFFF00;
}
.data-grid tbody.dgrid-body-table tr.changed:nth-child(even) td {
  background-color: #FFFF00;
}

.data-grid tbody.dgrid-body-table tr:nth-child(odd) td.dgrid-changed {
  background-color: #ffffcc;
}

.data-grid tbody.dgrid-body-table tr:nth-child(even) td.dgrid-changed {
  background-color: #F0F09A;
}

.data-grid tbody.dgrid-body-table tr:nth-child(odd) td.dgrid-error,
.data-grid tbody.dgrid-body-table tr:nth-child(odd) td.dgrid-warning {
  background-color: #FFBDC4;
}

.data-grid tbody.dgrid-body-table tr:nth-child(even) td.dgrid-error,
.data-grid tbody.dgrid-body-table tr:nth-child(even) td.dgrid-warning {
  background-color: #ffcccc;
}

.data-grid tbody.dgrid-body-table tr:hover {
  background-color: #ffffd0;
}

/* Grid component (left layout) */
.dgrid-not-scrollable {
  position: relative;
  width: 100%;
  border: none;
}
.dgrid-not-scrollable .dgrid-body-table {
  border: 1px solid #ddd;
  table-layout: auto;
}
.dgrid-not-scrollable .dgrid-body-table {
  border: 1px solid #ddd;
  border-spacing: 0;
}
.dgrid-not-scrollable  td {
  padding: 5px;
  display: table-cell;
}
.dgrid-not-scrollable .dgrid-footer {
  border-top: 0;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.wrapper-dgrid-header {
  border-right: 1px solid #ddd;
  overflow-y: scroll;
}
.dgrid-scrollable {
  border-right: 1px solid #ddd;
}
.wrapper-totals {
  overflow-y: scroll;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.wrapper-totals table {
  border-top: 1px solid #ddd;
  border-bottom: 0;
}

/* Portal */
.__portal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3000;
}

/* SuggestBox */
.__suggestBox {
  position: relative;
  display: block;
  overflow: hidden;
}
.__suggestBox input[type="text"] {
  cursor: default;
}
.__suggestBox input[type="text"]:focus {
  cursor: auto;
}
.__suggestBox.select input {
  padding-right: 40px;
}
.__suggestBox .__suggestBox-select-btn {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 35px;
  height: calc(100% - 2px);
  background-color: inherit;
}
.__suggestBox .__suggestBox-select-btn .__suggestBox-arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -2px;
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
}
.__suggestBox .__suggestBox-select-btn .__suggestBox-arrow.__suggestBox-up {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.__suggestBoxPopUp {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  border-bottom: 1px solid #e5e6e7;
}

.__suggestBoxPopUp-content {
  border: 1px solid #e5e6e7;
  border-bottom: 0;
  background-color: #fff;
  width: 100%;
}

.__suggestBoxPopUp ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: table;
  width: 100%;
}
.__suggestBoxPopUp-option {
  min-height: 30px;
  display: table-row;
}
.__suggestBoxPopUp-option div:not(:last-child) {
  white-space: nowrap;
}
.__suggestBoxPopUp-option div {
  display: table-cell;
  margin: 0 10px;
  padding: 5px 10px;
}
.__suggestBoxPopUp-option:not(.__suggestBoxPopUp-option-selectable) {
  color: #aaa;
}
.__suggestBoxPopUp-option.__suggestBoxPopUp-option-subitem div:first-child {
  padding-left: 20px;
}
.__suggestBoxPopUp-option.__suggestBoxPopUp-option-group {
  font-weight: 600;
  color: inherit;
}
.__suggestBoxPopUp-option.__suggestBoxPopUp-option-header {
  font-weight: 800;
  background-color: #f9f9f9;
  color: inherit;
}
.__suggestBoxPopUp-option.__suggestBoxPopUp-option-empty {
  color: #888;
  text-align: center;
}
.__suggestBoxPopUp-option {
  cursor: default;
}
.__suggestBoxPopUp-option.__suggestBoxPopUp-option-selectable {
  cursor: pointer;
}
.__suggestBoxPopUp-option-selectable.__suggestBoxPopUp-option-focused {
  background-color: #eee;
}

/*datepicker*/
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow {
  margin-left: -8px;
  position: absolute; }
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before {
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px; }
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before {
  content: "";
  z-index: -1;
  border-width: 8px;
  left: -8px;
  border-bottom-color: #aeaeae; }

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: 0;
  margin-top: -8px; }
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: #f0f0f0; }
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae; }

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px; }
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before {
  border-bottom: none;
  border-top-color: #fff; }
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before {
  bottom: -1px;
  border-top-color: #aeaeae; }

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative; }

.react-datepicker__triangle {
  position: absolute;
  left: 50px; }

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px; }

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-top: 8px;
  position: relative; }

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px; }

.react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem; }

.react-datepicker__navigation {
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 0.45rem solid transparent;
  z-index: 1; }
.react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: #ccc; }
.react-datepicker__navigation--previous:hover {
  border-right-color: #b3b2b2; }
.react-datepicker__navigation--next {
  right: 10px;
  border-left-color: #ccc; }
.react-datepicker__navigation--next:hover {
  border-left-color: #b3b2b2; }
.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
.react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: #ccc; }
.react-datepicker__navigation--years-previous:hover {
  border-top-color: #b3b2b2; }
.react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: #ccc; }
.react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: #b3b2b2; }

.react-datepicker__month-container {
  display: inline;
  float: left; }

.react-datepicker__month {
  margin: 0.4rem;
  text-align: center; }

.react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem; }

.react-datepicker__day-name,
.react-datepicker__day {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem; }

.react-datepicker__day {
  cursor: pointer; }
.react-datepicker__day:hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0; }
.react-datepicker__day--today {
  font-weight: bold; }
.react-datepicker__day--highlighted {
  border-radius: 0.3rem;
  background-color: #3dcc4a;
  color: #fff; }
.react-datepicker__day--highlighted:hover {
  background-color: #32be3f; }
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff; }
.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
  background-color: #1d5d90; }
.react-datepicker__day--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #2a87d0;
  color: #fff; }
.react-datepicker__day--keyboard-selected:hover {
  background-color: #1d5d90; }
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: rgba(33, 107, 165, 0.5); }
.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
  background-color: #f0f0f0;
  color: #000; }
.react-datepicker__day--disabled {
  cursor: default;
  color: #ccc; }
.react-datepicker__day--disabled:hover {
  background-color: transparent; }

.react-datepicker__input-container {
  position: relative;
  /*display: inline-block; */
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem; }
.react-datepicker__year-read-view:hover,
.react-datepicker__month-read-view:hover {
  cursor: pointer; }
.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow {
  border-top-color: #b3b2b2; }
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow {
  border-top-color: #ccc;
  float: right;
  margin-left: 20px;
  top: 8px;
  position: relative;
  border-width: 0.45rem; }

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae; }
.react-datepicker__year-dropdown:hover,
.react-datepicker__month-dropdown:hover {
  cursor: pointer; }
.react-datepicker__year-dropdown--scrollable,
.react-datepicker__month-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll; }

.react-datepicker__year-option,
.react-datepicker__month-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
.react-datepicker__year-option:first-of-type,
.react-datepicker__month-option:first-of-type {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }
.react-datepicker__year-option:last-of-type,
.react-datepicker__month-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem; }
.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover {
  background-color: #ccc; }
.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b2b2; }
.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b2b2; }
.react-datepicker__year-option--selected,
.react-datepicker__month-option--selected {
  position: absolute;
  left: 15px; }

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle; }
.react-datepicker__close-icon::after {
  background-color: #216ba5;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  content: "\00d7";
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 1;
  margin: -8px auto 0;
  padding: 2px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 50%; }

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left; }

.react-datepicker__tether-element {
  top: 35px !important;
  z-index: 2147483647; }

.react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647; }
.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day {
  width: 3rem;
  line-height: 3rem; }
@media (max-width: 400px), (max-height: 550px) {
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day {
    width: 2rem;
    line-height: 2rem; } }
.react-datepicker__portal .react-datepicker__current-month {
  font-size: 1.44rem; }
.react-datepicker__portal .react-datepicker__navigation {
  border: 0.81rem solid transparent; }
.react-datepicker__portal .react-datepicker__navigation--previous {
  border-right-color: #ccc; }
.react-datepicker__portal .react-datepicker__navigation--previous:hover {
  border-right-color: #b3b2b2; }
.react-datepicker__portal .react-datepicker__navigation--next {
  border-left-color: #ccc; }
.react-datepicker__portal .react-datepicker__navigation--next:hover {
  border-left-color: #b3b2b2; }
