@font-face {
  font-family: "Proximanova-Regular";
  src: url(../fonts/proximanova-regular.ttf);
}
@font-face {
  font-family: "Proximanova-Soft-Regular";
  src: url(../fonts/proximanova-soft-regular.ttf);
}
@font-face {
  font-family: "Proximanova-Soft-Medium";
  src: url(../fonts/proximanova-soft-medium.ttf);
}
@font-face {
  font-family: "Proximanova-Soft-Semibold";
  src: url(../fonts/proximanova-soft-semibold.ttf);
}
@font-face {
  font-family: "Proximanova-Soft-Bold";
  src: url(../fonts/proximanova-soft-bold.ttf);
}

html, body {
  height: 100%;
}
body {
  display: table;
  width: 100%;
}
.page-row {
  display: table-row;
}
.page-row-expanded {
  height: 100%;
}
/*.btn {
  width: 180px;
  padding: 14px 0;
  height: 50px;
  font-size: 12pt;
  font-family: "Proximanova-Soft-Bold";
  background-color: #00a6e2;
  color: #fff;
}
.btn img {
  margin: -4px 10px 0 0;
  height: 25px;
}
.btn:hover {
  background-color: #018ec1;
  color: #fff;
}*/
.padding0 {
  padding: 0;
}
blockquote {
  background-color: #f9f9f9;
  border-color: #f46559;
  color: #9e9e9e;
  padding: 40px;
  font-family: "Proximanova-Soft-Regular";
  font-size: 11pt;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Proximanova-Regular";
  margin-bottom: 20px;
}
h3{
  font-weight: bold;
}
a {
  color: #c05b4d;
}
a:hover {
  color: #c05b4d;
}
.btn-bordered {
  color: #533F73;
  border: solid 1px #533F73;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Proximanova-Soft-Medium";
  margin: 10px 0;
}
.btn-bordered:hover {
  color: #634F83;
  text-decoration: none;
}
.btn.download-uikernel-button{
  margin-bottom:10px;
}
.home-menu {
  /*font-family: "Proximanova-Soft-Bold";*/
  background-color: #333333 !important;
  font-size: 9pt;
  text-transform: uppercase;
}
.home-menu a {
  color: #c9caca !important;
}
.home-menu a:hover {
  color: #e9eaea !important;
}
.home-menu .active a {
  color: #fff !important;
  background-color: #333333 !important;
}
.home-menu .active a:hover {
  color: #fff !important;
}
.home-logo {
  padding: 100px 0 60px 0;
}
.home-logo .actions {
  margin: 40px 0 0 0;
}
.home-logo h2 {
  font-family: "Proximanova-Regular";
  font-size: 28pt;
  margin: 40px 0 20px 0;
  color: #434343;
}
.home-logo .btn {
  margin: 0 10px;
  font-family: "Proximanova-Regular";
}

.love-video {
  padding: 30px;
  background-color: #ECECEC;
}
.love-video h3 {
  margin-top: 0 !important;
}
.love-video .actions {
  margin-top: 25px;
}

.home-example h2 {
  font-family: "Proximanova-Soft-Bold";
  font-size: 20pt;
  margin: 50px 0 20px 0;
  text-align: center;
}

.home-features {
  background-color: #533F73;
  color: #fff;
  text-align: center;
  font-family: "Proximanova-Soft-Semibold";
  line-height: 16pt;
  padding: 40px 0 60px 0;
}
.home-features h2 {
  font-family: "Proximanova-Soft-Bold";
  margin-bottom: 40px;
  font-size: 20pt;
}
.home-features h3 {
  font-family: "Proximanova-Soft-Semibold";
  font-size: 14pt;
  margin: 20px 0 10px 0;
}
.home-features h5 {
  font-family: "Proximanova-Soft-BoldItalic";
  margin-bottom: 6px;
}
.home-features .criteria i {
  font-size: 74pt;
}
.home-features .criteria {
  line-height: 24px;
}

.home-content p {
  margin-bottom: 0;
}
.home-content h2 {
  font-family: "Proximanova-Soft-Bold";
  font-size: 20pt;
  margin: 20px 0;
  text-align: center;
}
.home-content h3 {
  font-family: "Proximanova-Soft-Semibold";
  font-size: 16pt;
  margin: 20px 0;
}
.home-content ul {
  padding-left: 18px;
}

.home-copyright {
  display: block;
  overflow: hidden;
  padding: 15px 0;
}
.home-copyright .copyright {
  padding: 0 50px;
}
.home-copyright .actions a {
  color: #ffffff;
  margin: 0 50px;
  text-transform: uppercase;
}
.docs-menu {
  width: 18%;
}
.docs-menu ul {
  list-style-type: none;
  padding: 0;
}
.docs-menu ul ul {
  margin-left: 15px;
}
.docs-menu li h3 {
  font-family: "Proximanova-Soft-Bold";
  text-transform: uppercase;
  font-size: 11pt;
  margin-bottom: 10px;
}
.docs-menu li a {
  font-family: "Proximanova-Soft-Regular";
  font-size: 11pt;
  color: #000;
}
.docs-menu li a:hover {
  color: #c05b4d;
  text-decoration: none;
}
.docs-menu li.active > a {
  color: #c05b4d;
}
.docs-content {
  width: 82%;
}
.docs-content ol {
  padding-left: 25px;
}
.docs-content h1 {
  font-family: "Proximanova-Regular";
  margin-bottom: 20px;
}
.docs-content h1 a {
  float: right;
  font-size: 16pt;
  margin-top: 10px;
}
.docs-content h2 {
  font-family: "Proximanova-Regular";
  font-size: 16pt;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.docs-content h3 {
  font-family: "Proximanova-Regular";
  font-size: 14pt;
  margin: 10px 0 10px 0;
  font-weight: bold;
}
.docs-content hr {
  margin: 20px 0;
  visibility: hidden;
}

.content {
  font-family: "Proximanova-Soft-Regular";
  font-size: 11pt;
  padding: 40px 15px 50px 15px;
  line-height: 20pt;
}
.content code:not([class]) {
  background-color: #eee;
  color: #000;
  font-size: 100%;
}

.markdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.markdown-content ul li {
  padding-left: 1em;
  text-indent: -.7em;
}
.markdown-content ul li:before {
  content: "\25cf";
  color: #00a6e2;
  margin-right: 8px;
}
/*Table in DOCS*/
.docs-content th, .docs-content td {
  padding: 5px 20px;
}
.docs-content table{
  background-color: rgba(112, 170, 205, 0.1);
  display: block;
  border-left:5px solid rgba(75, 152, 192, 0.2);
  margin-bottom: 15px;
}
.docs-content table th, .docs-content table td {
  padding:5px 20px;
}
/*blockquote in DOCS*/
.docs-content blockquote {
  background-color: rgba(112, 170, 205, 0.1);
  border-color: rgba(75, 152, 192, 0.2);
  color: #333;
  padding: 10px;
  font-size: 1em;
}
.docs-content blockquote > p:before {
  content: 'Notes:';
  display: block;
  font-weight: 800;
}

.docs-prevnext {
  margin-top: 20px;
}

.footer {
  background-color: #2B2B2B;
  color: white;
}

h3 i.fa {
  color: #00a6e2;
  margin-left: .5em;
}