.container {
  padding-top: 10px;
}

.edit-form .changed {
    background-color: #ffff38;
}
.edit-form .error {
    background-color: #ff8689;
}

.filters-form {
    padding-bottom: 10px;
}
.filters-form input,
.edit-form input,
.filters-form select,
.edit-form select {
    margin: 0;
    width: 100% !important;
}
.padding0 {
    padding: 0;
}

.change-second-field-form{
    max-width: 90%;
    margin: 0 auto;
}
.error{
    background-color: rgb(189, 84, 84);
    border-radius: 10px;
    color: white;
}
.control-label {
    line-height: 22px;
}
.validation-error{
    line-height: 33px;
}
.save-record{
    float: right;
}
